@font-face {
    font-family: lakeshore;
    src: url("fonts/LAKESHOR-webfont.svg");
    src: url("fonts/LAKESHOR-webfont.woff");
}
:root {
    --thumbnails-img-width: 20vw;
    --thumbnails-img-height: 15vw;
    --thumbnails-title-height: calc(var(--thumbnails-img-height) * 0.33)
}
body, html {
    height: 100%;
}
body {
   display: flex; 
   flex-direction: column;
   background-image: url(stripes-1664286531543-3020.jpg);
   /* background-repeat: no-repeat; */
   /* background-image: 100vw; */
   background-size: contain;

   /* background-color: azure; */
   margin: 0;
   
}
.logo  {
font-size: 2em;
color: yellow;
background-image: url(green2.jpg);
/* background-color: bisque; */
display: block;
text-align: center;
font-family: lakeshore;
text-transform: uppercase;

}
.main-class {
display: flex;
flex-direction: column;
justify-content: center;
flex-grow: 1;
}
.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;

    

}
.details-image {
    width: 80vw;
    height: 70vw;
    border-radius: 25%;
    border: solid 3px rgb(238, 234, 7);
}
.details-title {
display: block;
color: yellow;
size: 50vw;
font-size: 1.5em;


}
.thumbnails-list {
list-style: none;
display:flex;
flex-direction: row;
flex-wrap: wrap;
max-height: 25vh;
overflow-y: auto;
justify-content: space-around;
padding-left: 0;

}
.thumbnails-item {
max-width: var(--thumbnails-img-width);
min-height: calc(var(--thumbnails-img-height) + var(--thumbnails-title-height));
margin-top: 2.5vh;
border: solid 3px rgb(238, 234, 7);
border-radius: 25%;
overflow: hidden;
}
.thumbnails-image {
    width: var(--thumbnails-img-width);
    height: var(--thumbnails-img-height);
    display: block;
}
.thumbnails-title {
    color: yellow;
    display: block; 
    text-align: center;
    height: var(--thumbnails-title-height);
    overflow: auto;
    background-color: rgb(16, 170, 55);
}
.thumbnails-anchor {
   text-decoration: none;
}
@media (min-width: 560px) {
    .thumbnails-list {
        flex-direction: column;
        flex-wrap: nowrap;
        max-height: 90vh;
        order: -1;
        justify-content: flex-start;
        margin: 0;
        width: 25vw;
    }
    .main-class {
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 0;
    }
    .details-image {
        justify-content: center;
        width: 40vw;
        height: 30vw;

    }
    .details-container {
        justify-content: center;
    }
}
@media ( min-width: 900px) {
    .thumbnails-title{
        font-size: 2.5vw;
    }
    .details-image{
        width: 60vw;
        height: 50vw;
    }
    .logo{
        font-size: 4em;
    }
    .thumbnails-item{
        border-radius: 30%;
        margin-bottom: -5;
    }
    .details-title{
        font-size: 2.5em;

    }
    
}