@font-face {
    font-family: lakeshore;
    src: url("Ethnocentric/Ethnocentric\ V2.svg");
    src: url("Ethnocentric/Ethnocentric\ V2.woff");
}
@font-face{
    font-family: airstream;
    src: url(fonts/Airstream-webfont.svg);
    src: url(fonts/Airstream-webfont.woff);
}
:root {
    --thumbnails-img-width: 20vw;
    --thumbnails-img-height: 15vw;
    --thumbnails-title-height: calc(var(--thumbnails-img-height) * 0.33)
}
body, html {
    height: 100%;
}
body {
   display: flex; 
   flex-direction: column;
   background-image: url(background/green.jpg) ;
  
   background-size: cover; 

   margin: 0;
   
}
.buttons {
    display: flex;
    position: absolute;
    right: 20vw;
    bottom: 80vw;
    /* width: 50vw;
    height: 25vh; */
  align-items: center; 
  
  
}
.play {
    background: #f5ec6b;
    font-size: 1.3em;
    color: #be375f;
}
.play:hover {
    scale: 1.5;
    left: 1.5vw;
    color: #60246c;
}
.pause {
    background: #f5ec6b; 
    font-size: 1.3em;
    color: #be375f;
}
.pause:hover {
    scale: 1.5;
    right: 1.5vw;
    color: #60246c;
}

.logo  {
font-size: 1.2em;
color: #60246c;
background-image: url(background/SL-090119-22970-03.jpg);
background-size: cover; 
display: block;
text-align: center;
font-family: lakeshore;
text-transform: uppercase;

}
.main-class {
display: flex;
flex-direction: column;
justify-content: center;
flex-grow: 1;
}
.main-class.hidden {
    --thumbnails-img-width: 35vw;
    --thumbnails-img-height: 25vw;
    --thumbnails-title-height: calc(var(--thumbnails-img-height)* 0.33) 
}
.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
    position: relative;
    transition: 5s cubic-bezier(0.1, 2, 0.9, 1);

}
.details-frame {
    position: relative;
}
.details-audio {
    display: flex;
    position: absolute;
    right: 15vw;
    bottom: 80vw;
    width: 50vw;
    height: 15vh;
  align-items: center;

  
  
}



.hidden .details-container {
    display: none;
}
.hidden .thumbnails-list {
    max-height: 80vh;
    margin-bottom: 10vh;
}
.hidden .thumbnails-title {
    font-size: 0.8em;
}

.hide-button {
    position: absolute;
    top: 3vh;
    right: 3vw;
    background-color: red;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
}
.details-image {
    width: 80vw;
    height: 70vw;
    border-radius: 25%;
    border: solid 3px #ee8555;
}
.details-title {
display: block;
font-family: airstream;
font-weight: bold;
/* font-style: italic; */
color: #f5ec6b;
-webkit-text-stroke: 0.2px #60246c;
position: absolute;
/* size: 3vw; */
font-size: 1.5em;
left: 30vw;
bottom: 2vw;


}
.thumbnails-list {
list-style: none;
display:flex;
flex-direction: row;
flex-wrap: wrap;
max-height: 25vh;
overflow-y: auto;
justify-content: space-around;
padding-left: 0;
/////////
align-items: flex-start;
//////////

}
::-webkit-scrollbar-track {
    background-color: #f5ec6b;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: #60246c;
    border-radius: 5px;
}
.thumbnails-item {
max-width: var(--thumbnails-img-width);
min-height: calc(var(--thumbnails-img-height) + var(--thumbnails-title-height));
margin-top: 2.5vh;
border: solid 3px #ee8555;
border-radius: 25%;
overflow: hidden;
}
.thumbnails-image {
    width: var(--thumbnails-img-width);
    height: var(--thumbnails-img-height);
    display: block;
    box-shadow: 0 1px 8px rgb(255, 255, 255);
}
.thumbnails-title {
    color: #be375f;
    display: block; 
    text-align: center;
    height: var(--thumbnails-title-height);
    overflow: auto;
    background-color: #f5ec6b;
    font-family: lakeshore;
    font-size: 7.4px;
    /* left: 3vw;
    bottom: 10vw; */
}


.thumbnails-anchor {
   text-decoration: none;
   box-shadow: 0 1px 8px rgb(32, 61, 141);
}
.thumbnails-item:hover{
    scale: 1.25;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 1.8vw;
    margin-bottom: 1vw;
    border: solid 3px rgb(238, 7, 7);
}
.thumbnails-item:active{
    border: solid 3px rgb(57, 7, 238);
}

.is-point{
    transform: scale(0.001);    
    transition: 0s;
} 


@media (min-width: 560px) {
    :root {
        --thumbnails-img-width: 12vw;
        --thumbnails-img-height: 8vw;
        --thumbnails-title-height: calc(var(var(--thumbnails-img-height)* 0.25))
    }
.logo {
    font-size: 1.8em;
}
    .thumbnails-list {
        flex-direction: column;
        flex-wrap: nowrap;
        max-height: 80vh;
        order: -1;
        justify-content: flex-start;
        padding-right: 2vw;
    }
    body {
        overflow: hidden;
    }
    .main-class {
        flex-direction: row;
        justify-content: space-around;
        /* margin-bottom: 0; */
    }
    .details-image {
        justify-content: center;
        width: 40vw;
        height: 30vw;

    }
    .details-container {
        justify-content: center;
        align-items: center;
        margin-bottom: 15vh;
    }
    .details-title {
        font-size: 3vw;
        left: 10vw;
        bottom: 7vw;
    }
    .thumbnails-title {
        font-size: 1vw;
    }
    .hidden .details-container {
        display: none;
    }
    .hidden .thumbnails-list {
        max-height: 80vh; 
        margin-bottom: 10vh; 
        /* max-width: 80vh; */
         flex-direction: row;
        flex-wrap: wrap; 
        margin-left: 2vw;
         justify-content: space-around;
         ////////
         align-items: flex-start; 
         ////////          
    }
    .hidden .thumbnails-title {
        font-size: 1em;
    }
    .main-class.hidden {
        --thumbnails-img-width: 25vw;
        --thumbnails-img-height: 15vw;
        --thumbnails-title-height: calc(var(--thumbnails-img-height)* 0.33) 
    }
    .details-audio {
         
        right: 8vw;
        bottom: -15vh;
        width: 25vw;
        height: 15vh;
        
    }
    .buttons {
        right: 10vw;
        bottom: -5vw;

    }
}
@media ( min-width: 930px) {
    :root {
        --thumbnails-img-width: 12vw;
        --thumbnails-img-height: 8vw;
        --thumbnails-title-height: calc(var(--thumbnails-img-height)* 0.25)
    }
    .hidden .thumbnails-title {
        font-size: 2vw;
    }
    /* .thumbnails-list {
        padding-right: 2vw;
        margin-top: 2.5vh;
    } */
    .thumbnails-title{
        
        font-size: 1vw;
    }
    .details-image{
        width: 60vw;
        height: 50vw;
    }
    .logo{
        font-size: 3vw;
    }
    .details-container{
        margin-top: 5vh;
        margin-right: 5vw;
    }
    .thumbnails-item{
        border-radius: 30%;
        margin-bottom: -5;
    }
    .details-title{
        font-size: 3vw;
        bottom: 2vw;
        right: 3vw;
        -webkit-text-stroke: 1px rgb(0, 0, 0);

    }
    .details-image {
        width: 45vw;
        height: 35vw;
    }
    .hide-button {
        position: absolute;
        top: 3vh;
        right: 3vw;
       
        font-size: 3vh;
    }
    .details-audio {
         
        right: 10vw;
        bottom: -15vh;
        width: 25vw;
        height: 15vh;
        
    }
    .buttons {
        
        right: 10vw;
        bottom: -5vw;

    }
    .play {
        
        font-size: 2.5em;
        
    }
    .pause {
        
        font-size: 2.5em;
        
    }
}