:root {
    --cell-width:4.4vw;
    --cell-hight:4.4vw;
}
body,html {
    height: 100%;
    /* width: 100%; */
    
}
.main {

}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 253, 253);
    margin: 0;
}
.cell-white {
    background-color: bisque;
    width: var(--cell-width);
    height: var(--cell-hight);

}
.cell-black {
    background-color: black;
    width: var(--cell-width);
    height: var(--cell-hight);
}
.board-row {
    display: flex;
    flex-direction: row;
}
.border {
    background-color: burlywood;
    font-size: 2vw;
    color: rgb(8, 8, 8);
    text-align: center;
    vertical-align: middle;
    border-color:solid rgb(216, 170, 18) 3px;
    box-shadow: 0 1px 8px rgb(32, 61, 141);
    width: var(--cell-width);
    height: var(--cell-hight);
}

@media (min-width: 560px)
:root {
    --cell-width: 3vw;
    --cell-hight: 3vw;
}
.cell-white {
    width: var(--cell-width);
    height: var(--cell-hight);

}
.cell-black {
    width: var(--cell-width);
    height: var(--cell-hight);
}
.border {
    width: var(--cell-width);
    height: var(--cell-hight);
}

@media (min-width: 950px)
:root {
    --cell-width: 12vw;
    --cell-hight: 12vw;
}
.cell-white {
    width: var(--cell-width);
    height: var(--cell-hight);

}
.cell-black {
    width: var(--cell-width);
    height: var(--cell-hight);
}
.border {
    width: var(--cell-width);
    height: var(--cell-hight);
}

 
