body, html {
    height: 100%;
}
.form-title {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    height: 7vh;
}
.form-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.two-inputs {
    display: flex;
    justify-content: space-around;
    width: 80vw;
    margin-top: 5vh;
    
}
.date-label {
    margin-top: 5vh;
    display: flex;
    flex-direction: column; 
    height: 10vh;
    justify-content: space-around;
}
.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 10vh;
    width: 40vw;
    
}
.error {
    border-color: red;
    color: red;
}
body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
}
.header{
    display: flex;
    height: 15vh;
    background-color: #b0b0bb;
    text-align: center;
    font-size: 12em;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 3px #030303, 0 0 5px #0000FF;
    align-items: center;
    justify-content: center;
    
}
.buttons-main{
    display: flex;
    flex-direction: row; 
    align-items: flex-end;
}
.button{
    height: 3vh;
    width: 33vw;
    bottom: 0;
    border: solid beige;
    color: black;
    font-style: oblique;
    background-color: white;
    border-width: 0.2em;
    border-color: #030303;
}

.button:focus {
  box-shadow: 0 0.5em 0.5em 0.4em var(--hover);
  transform: translateY(-0.25em);
  background-color: rgb(170, 153, 153);
  text-shadow: 0 0 3px #030303, 0 0 5px #fefefe;
}
.main{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    flex-grow: 1;   
}
.footer{
    display: flex;
    background-color: black;
    font-size: 2em;
    color: white;
     height: 10vh;
     justify-content: center;
     text-align: center;
}
.full-data{
    display: flex;
    flex-direction: row;
    border-radius: 1%;
    border-color: #0000FF;
    align-items: center;
    
}
.movie-data{
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 70vw;
    padding-left: 4vw;
    margin-left: 3vw;
}
.title{
    list-style: none;

    text-align: center;
    font-size: 2em;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 3px #030303, 0 0 5px #0000FF;
    align-items: center;
    justify-content: center;
}
.overview{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 3px #030303, 0 0 5px #04f749;
    align-items: center;
    justify-content: center;
}
body, html {
    height: 100%;
}
body {
    background-color: aliceblue;
}
.form-title {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
.form-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.two-inputs {
    display: flex;
    justify-content: space-around;
    width: 80vw;
    margin-top: 5vh;
    
}
.date-label {
    margin-top: 5vh;
    display: flex;
    flex-direction: column; 
    height: 10vh;
    justify-content: space-around;
}
.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 10vh;
    width: 40vw;
    
}
.error {
    border-color: red;
    color: red;
}
.active {
    background-color: blue;
    color: white;
}
.employees-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 70vh;
    list-style: none;
    overflow-y: scroll;
    justify-content: space-around;
}
.employees-item {
    max-width: 30vw;
    background-color: blue;
    border-radius: 25%;
    text-align: center;
    border: 2px solid blue;
    margin-top: 10vh;
    overflow: hidden;
}
.employees-item-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.employees-item-paragraph {
    background-color: white;
    font-weight: bold;
}
.buttons-menu {
    display: flex;
    justify-content: center;
}
.btn-menu+.btn-menu {
    margin-left: 10vw;
}
.center {
    text-align: center;
}

