body, html {
    height: 100%;
}
body {
    background-color: aliceblue;
    overflow: hidden;
}
.header{
    display: flex;
    background-size:cover ; 
    text-align: center;
    font-size: 5em;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 3px #030303, 0 0 5px #080808;
    align-items: center;
    justify-content: center;
    margin-bottom: 1vh;
    
    
}
.footer{
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    font-size: 2em;
    color: white;
     height: 5vh;
     justify-content: center;
     text-align: center;
}
.form-title {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
.book-form-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.two-inputs {
    display: flex;
    justify-content: space-around;
    width: 80vw;
    margin-top: 5vh;
    
}
.one-input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2vh;

}
.date-label {
    margin-top: 5vh;
    display: flex;
    flex-direction: column; 
    height: 10vh;
    justify-content: space-around;
}
.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 10vh;
    width: 40vw;
    
    
}
.buttons-one{
    display: flex;
    justify-content: center;
    margin-top: 2vh;
   
}
.error {
    border-color: red;
    color: red;
}
.active {
    box-shadow: 0 0.5em 0.5em 0.4em var(--hover);
  transform: translateY(0.65em);
  background-color: rgb(170, 153, 153);
  text-shadow: 0 0 3px #030303, 0 0 5px #fefefe;
}
.books-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 70vh;
    list-style: none;
    overflow-y: scroll;
    justify-content: space-around;
}
.books-item {
    max-width: 30vw;
    background-color: rgb(30, 136, 236);
    border-radius: 25%;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    margin-top: 10vh;
    overflow: hidden;
}
.books-item-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.books-item-paragraph {
    background-color: white;
    font-weight: bold;
}
.buttons-menu {
    display: flex;
    flex-direction: row; 
    align-items: flex-end;
}
.btn-menu {
    height: 3vh;
    width: 33vw;
    bottom: 0;
    border: solid beige;
    color: black;
    font-style: oblique;
    background-color: white;
    border-width: 0.2em;
    border-color: #030303;
}
.center {
    text-align: center;
}
.search{
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    padding: 10px;
    transition-duration: 500ms;
    cursor: pointer;
    font-size: 15px;
    border: 1px solid white;
    overflow: hidden;
    background-image: url(icons/icons8-search.svg);
    background-repeat: no-repeat;
    background-position: 0% 90%;
    background-size: 30px;
}
.search:hover{
    border : 1px solid #ff9950;
    overflow: hidden;
}
.search:focus {
    width: 200px;
    cursor: text;
    padding-left: 40px;
    color: rgb(128, 42, 42);
    outline: node;
    border: 1px solid #ff9950;
    border-radius: 25%;
    background-position: 0% 99%;
    overflow: hidden;
}


